<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/setting.css">
  </head>
  <body>
    <div class="header">
      <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
      <div class="header-right">
        <a class="home-button" href="/home">HOME</a>
        <a class="compose-button" href="/compose">COMPOSE</a>
        <a class="profile-button" href="/user/<%= Helpers.current_user(session).id %>">PROFILE</a>
        <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
      </div>
    </div>
    <div class="settings-div">
      <div class="setting-box">
        <div class="profile-username"><%= @user.username.upcase %></div>
          <div class="title">ACCOUNT SETTINGS</div>
          <br></<br>
          <div class="posts">POSTS: <%= @user.posts.count %></div>

          <% if Helpers.current_user(session) == @user %>

            <a href="/users/<%= @user.id %>/edit"><button class="edit-profile">Edit Profile</button></a><br>

              <a href="/logout"><button class="logout-button">Log out</button></a><br>

                <form href="/settings" method="post">
                <input type="hidden" name="id" value="<%=@user.id%>">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-button"><input id="delete" type="submit" value="Delete Profile"></button>
                </form>

          <% end %>

          </div>
        </div>
      </body>
    </html>
