<a href="/home">Home</a>

<a href="/user/<%= @user.id %>">Profile</a>

<h1>Profile Settings</h1>

<h2><%= @user.username %></h2>

<h3>Posts: <%= @user.posts.count %></h3>

<% if Helpers.current_user(session) == @user %>

<a href="/users/<%= @user.id %>/edit"><button id="edit">Edit Profile</button></a><br>

<a href="/logout"><button id="logout">Log out</button></a><br>

<form href="/settings" method="post">
<input type="hidden" name="id" value="<%=@user.id%>">
<input type="hidden" name="_method" value="delete">
<input id="delete" type="submit" value="Delete Profile">
</form>

<% end %>
