<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <div class="home-div">
      <div class="header">
        <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
        <div class="header-right">
          <a class="home-button" href="/home">HOME</a>
          <a class="profile-button" href="/user/<%= @user.id %>">PROFILE</a>
          <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
        </div>
      </div>

        <h1><%= @user.username %></h1>

           <% if Helpers.current_user(session) == @user%>

            <h2>My posts</h2>

           <% end %>

          <!-- <a href="/compose"><button">Compose</button></a> -->

            <ul>
             <% @posts.each do | post | %>
             <li>
             <div class="post-title"><u><%= post.title.upcase %></u></div>
                <div class="user-content"><%= post.content %></div>
              </li>

             <% if Helpers.current_user(session) == @user %>

               <a href="/posts/<%= post.id %>/edit"><button id="edit">Edit Post</button></a>

               <form action="/posts/<%= post.id %>/delete" method="post">
               <input type="hidden" name="_method" value="delete">
               <input id="delete" type="submit" value="Delete Post">
               </form>

             <% end %>

           <% end %>
         </ul>

       </div>

      </body>
    </html>
