<a href="/home">Home</a>

<a href="/settings">Account settings</a>

<h1><%= @user.username %></h1>

<h2>My posts</h2>

<a href="/compose"><button">Compose</button></a>

<ul>
  <% @posts.each do | post | %>
  <li>
  <p><b><%= post.title %></b></p>
  <p><%= post.content %></p>
  </li>

  <a href="/posts/<%= post.id %>/edit"><button id="edit">Edit Post</button></a>

  <form action="/posts/<%= post.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" value="Delete Post">
  </form>

  <% end %>
</ul>
