<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <div class="home-div">
      <div class="header">
        <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
        <div class="header-right">
          <a class="home-button" href="/home">HOME</a>
          <a class="compose-button" href="/compose">COMPOSE</a>
          <a class="profile-button" href="/user/<%= Helpers.current_user(session).id %>">PROFILE</a>
          <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
        </div>
      </div>
      <div class="profile-box">
        <div class="name-mypost">
          <div class="profile-username"><%= @user.username.upcase %></div>
           <% if Helpers.current_user(session) == @user%>
            <div class="my-posts">MY POSTS</div>
           <% else %>
           <div class="my-posts">POSTS</div>
           <% end %>
           </div>

             <% @posts.each do | post | %>
             <div class="post-title"><u><%= post.title.upcase %></u></div>
                <div class="user-content"><%= post.content %></div>

             <% if Helpers.current_user(session) == @user %>


               <a class="edit-post" href="/posts/<%= post.id %>/edit">EDIT POST</a>

               <form class="delete-post" action="/posts/<%= post.id %>/delete" method="post">
               <input type="hidden" name="_method" value="delete">
               <input id="delete" type="submit" value="DELETE POST">
               </form>



             <% end %>
           <% end %>

        </div>
       </div>
      </body>
    </html>
