<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/edit-post.css">
  </head>
  <body>
    <div class="header">
      <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
      <div class="header-right">
        <a class="home-button" href="/home">HOME</a>
        <a class="compose-button" href="/compose">COMPOSE</a>
        <a class="profile-button" href="/user/<%= Helpers.current_user(session).id %>">PROFILE</a>
        <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
      </div>
    </div>

    <div class="compose-box">
      <br></br>
    <div class="profile-username"><%= @user.username.upcase %></div>
    <div class="compose">EDIT POST</div>

<form action="/posts/<%=@post.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="title-input"><input type="text" name="post[title]" value="<%=@post.title%>"></div>
  <br></br>
  <textarea class="content-input" type="text" name="post[content]" value="<%=@post.content%>" rows="10" cols="50"></textarea>
  <br></br>
  <input id="update" type="submit" value="UPDATE POST">
</form>
</div>

</body>
</html>
