<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <div class="header">
      <div class="home-logo"><img src="/images/Medivation_Logo.png"></div>
      <div class="header-right">
        <a class="home-button" href="/home">HOME</a>
        <a class="compose-button" href="/compose">COMPOSE</a>
        <a class="profile-button" href="/user/<%= @user.id %>">PROFILE</a>
        <a class="settings-button" href="/settings">ACCOUNT SETTINGS</a>
      </div>
    </div>
    <div class="home-div"

    <form action="/users/search" method="post">
      <input name="username" type="text">
      <input type="submit" value="Search">
    </form>
      <div class="home-box">
         <% @users.each do | user | %>
         <% if !user.posts.empty? %>
             <a class="name-link" href="/user/<%= user.id %>"><%= user.username.upcase %></a>
          <% user.posts.each do | post | %>
          <% if post == user.posts.last %>
          <div class="user-content">
           <div class=""><u><%= post.title %></u></div>
           <br>
            <p><%= post.content %></p>
          </div>
             <% end %>
             <% end %>
           <% end %>
          <% end %>

    </div>
   </div>
  </body>
</html>
