<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <div class="home-div">
      <div class="header">
        <!-- <div class="home-logo"><img src="/images/Medivation_Logo.png"></div> -->
        <div class="header-center">HOME</div>
        <div class="header-right">
          <a class="compose-button" href="/compose">Compose</a>
          <a class="profile-button" href="/user/<%= @user.id %>">Profile</a>
          <a class="settings-button" href="/settings">Account Settings</a>
        </div>
      </div>



      <div class="home-box">
        <ul>
         <% @users.each do | user | %>
         <li>
          <div class="name-link"><p><a href="/user/<%= user.id %>"><%= user.username %></a></p></div>
          <% user.posts.each do | post | %>
          <% if post == user.posts.last %>
           <p><em><%= post.title %></em></p>
            <p><%= post.content %></p>
         </li>
           <% end %>
          <% end %>
        <% end %>
       </ul>
      </div>



   </div>

  </body>
</html>
